.Header .container {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #78909c;
    min-width: 99.2vw;
    padding: 5px;
}

.Header a{
    margin-right: 1% ;
    margin-left: 1%;
    color: black;
    align-items: center;
}
